<div class="container">
  <div class="container-inner">
    <div class="container-text">
      <h1 class="welcome">Bem vindo.</h1>
      <p class="intro">
        Meu nome é Genilton, sou desenvolvedor há mais de 2 anos. Tenho
        expertise em integrar requisitos tanto dos usuários quanto do negócio em
        soluções escaláveis, duradouras, seguras e acessíveis em termos de
        custo. Minhas principais tecnologias incluem Angular.
      </p>
    </div>
    <img class="notebook" src="/hero_setup.jpg" alt="" />
  </div>
</div>
<img class="border-path" src="/lado.svg" alt="" />

<div class="projects" *ngIf="isvisible" >
  <div class="projects-text" data-aos="fade-up">
    <h2>Meus trabalhos</h2>
    <p>Uma coleção de projetos em que trabalhei.</p>
  </div>
</div>

<div class="projects" *ngIf="!isvisible">
  <div class="projects-text">
    <h2>Minhas Stacks</h2>
    <p>Tenho experiência com diversas tecnologias e ferramentas.</p>
  </div>
</div>
  
<div class="project-cards" *ngIf="isvisible">
  <div class="cards" *ngFor="let item of list"  data-aos="flip-left">
    <div class="cards-wrap">
      <div class="photo" (click)="openImageModal(item.image)">
        <img [src]="item.image" alt="" />
      </div>
      <div class="container-text-card">
        <div class="container-t">
          <h3>{{ item.title }}</h3>
          <p>{{ item.description }}</p>
          <a [href]="item.url" target="_blank">
          <img class="globo" [src]="item.icon" alt="" />
        </a>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container-exp" data-aos="fade-left" data-aos-anchor="#example-anchor" data-aos-offset="500" data-aos-duration="500">
  <div class="texts-xpp" data-aos="fade-up">
    <h2>Experiência Profissional</h2>
    <p>Estou sempre aberto a novos desafios. Vamos trabalhar juntos para criar soluções incríveis para sua empresa!</p>
  </div>

  <div class="journey">
   
    <div class="content-journey">
      <div class="exp exp1" data-aos="fade-left">
        <div class="texts-exp">  
          <h2>NDS (Núcleo de Desenvolvimento de Software)</h2>
          <span class="dev">Desenvolvedor Frontend</span>
          <span class="date">dez - 2024 até o momento</span>
        </div>
        
        <ul>
          <li>Desenvolvimento de novas funcionalidades, correção de bugs e implementações pontuais.</li>
          <li>Participação na implementação de uma arquitetura monolítica.</li>
          <li>Realização de deploys manuais para garantir atualizações seguras e eficientes em produção.</li>
          <li>Revisões de código (code reviews), oferecendo feedback construtivo aos colegas de equipe.</li>
          <li>Orientação de novos membros da equipe técnica, assegurando a excelência do código produzido.</li>
        </ul>
      </div>

    <div class="exp" data-aos="fade-right">
      <div class="texts-exp">  
        <h2>NDS (Núcleo de Desenvolvimento de Software)</h2>
        <span class="dev">Desenvolvedor Frontend</span>
        <span class="date">dez - 2024 ate o momento</span>
      </div>
      
     <ul>
      <li>Desenvolvimento de novas funcionalidades , correção de bugs e implementações pontuais.</li>
      <li>Participação na implementação de uma arquitetura monolítica.</li>
      <li>Realização de deploys manuais para garantir atualizações seguras e eficientes em produção.</li>
      <li>Revisões de código (code reviews), oferecendo feedback construtivo aos colegas de equipe.</li>
      <li>Orientação de novos membros da equipe técnica, assegurando a excelência do código produzido.</li>
     </ul>
    </div>

    

    </div>

    
    
  </div>
</div>

<div class="habilities">

</div>


<footer>
  <img class="down" src="/border-down.svg" alt="" />
  <div class="text-footer">
    <h3>© GeniltonSilva</h3>
    <img src="/github.svg" alt="" />
  </div>
</footer>
